<div class="d-block mx-auto text-lg-center" style="margin-top: 200px; margin-bottom: 50px;">
  <h3 class="my-5">本当に退会しますか？</h3>
  <p>
    退会すると、会員登録情報や<br/>
    これまでの購⼊履歴が閲覧できなくなります。<br/>
    退会する場合は、「退会する」をクリックしてください。<br/>
  </p>
</div>
<div class="d-block mx-auto text-lg-center" style="margin-top: 20px; margin-bottom: 200px;">
  <%= link_to "退会しない", customer_path(current_customer.id), class: "btn btn-primary mr-3", type:"button" %>
  <%= link_to "退会する", customers_unsubscribe_path, method: :patch, class: "btn btn-danger", type:"button" %>
</div>